# Import
importFrom("graphics", "points", "abline")
importFrom("stats", "predict", "lm.fit", "lm.wfit", "optim", "uniroot", "integrate")
importFrom("Matrix", "tcrossprod", "chol2inv", "chol")
importFrom("polynom", "polynomial")

# Export
export("svi", "svifit", "svipar", "geom")
export("durrleman", "axel")
export("rnd", "rnmoment", "rnskew", "rnkurt", "rnvar")

# Methods
S3method("predict", "svi")
