# Import
importFrom("graphics", "points", "abline")
importFrom("stats", "predict", "lm.fit", "lm.wfit", "optim", "uniroot")
importFrom("Matrix", "tcrossprod", "chol2inv", "chol")

# Export
export("svi", "svifit", "svipar", "geom")
export("durrleman", "axel", "rnd")

# Methods
S3method("predict", "svi")
